.HeaderButton {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; /* Light */
    font-size: 22px;
    line-height: normal;
    letter-spacing: 0%;
    
    color: #000000;
    opacity: 1;

    background: none;
    border: none;
    cursor: pointer;
}