.SectionWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    place-content: center;
    width: 1380px;
    margin: auto;
    margin-bottom: 80px;
}

@media  screen and (max-width: 1439px) and (min-width: 768px) {
    .SectionWrapper {
        display: grid;
        gap: 40px;
        width: 47em;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 767px) {
    .SectionWrapper {
        display: grid;
        gap: 20px;
        width: 20em;
        margin-bottom: 30px;
    }
}