/**/
      .tableContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1200px; /* Фиксированная минимальная ширина контейнера */
        margin: auto;


        .priceList {
            width: 1200px;
            height: 709px;
            border-collapse: collapse;
            background: linear-gradient(to bottom, #A7A7A7, #273B46);
            color: white;
            font-family: Arial, sans-serif;
            border-radius: 8px;
            margin-top: 112px;
            margin-bottom: 121px;
            table-layout: fixed; /* Фиксированная ширина колонок */
            overflow: hidden;
    
            .topLine {
                height: 70px;
                text-align: center;
            }
    
            th, td {
                padding: 12px;
                border: 1px solid rgba(255, 255, 255, 0.3);
                text-align: left;
                white-space: nowrap; /* Запрещает перенос строк */
                background: transparent; /* Убираем фон у ячеек */
            }
    
            th {
                font-weight: 500;
                text-transform: uppercase;
                background: transparent; /* Убираем фон у заголовков */
                font-family: 'Montserrat', sans-serif;
                font-weight: normal; /* Light */
                font-size: 32px;
                line-height: auto;
                letter-spacing: 0%;
                text-align: center;
            }
    
            th:nth-child(1) {
                width: 900px !important;
                font-weight: 500;
                text-transform: uppercase;
                background: transparent;
            }
    
            tbody tr {
                background: transparent;
            }
    
            tbody td {
                text-align: left;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                background: transparent;
                font-family: 'Montserrat', sans-serif;
                font-weight: lighter; /* Light */
                font-size: 20px;
                line-height: auto;
                letter-spacing: 0%;
                color: white;
            }
    
            tbody tr:nth-child(even) {
                background: transparent;
            }
    
            tbody tr:hover {
                background: rgba(255, 255, 255, 0.3);
                transition: 0.3s;
            }
        }
    }
    
    
    @media  screen and (max-width: 1439px) and (min-width: 768px) {
        .tableContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 700px; /* Фиксированная минимальная ширина контейнера */
            
            .priceList {
                width: 700px;
                height: 709px;
                border-collapse: collapse;
                background: linear-gradient(to bottom, #A7A7A7, #273B46);
                color: white;
                font-family: Arial, sans-serif;
                border-radius: 8px;
                margin-top: 112px;
                margin-bottom: 121px;
                table-layout: fixed; /* Фиксированная ширина колонок */
                overflow: hidden;
        
                .topLine {
                    height: 64px;
                }
        
                th, td {
                    padding: 0;
                    border: 1px solid rgba(255, 255, 255, 0.3);
                    text-align: center;
                    white-space: nowrap; /* Запрещает перенос строк */
                    background: transparent;
                    width: 70px; /* Убираем фон у ячеек */
                    text-align: center;
                }

                td {
                    text-align: center;
                }
        
                th {
                    font-size: 16px;
                }
        
                th:nth-child(1) {
                    width: 595px !important;
                    font-weight: 500;
                    text-transform: uppercase;
                    background: transparent;
                }
        
                tbody tr {
                    background: transparent;
                }
        
                tbody td {
                    font-size: 10px;
                }
        
                tbody tr:nth-child(even) {
                    background: transparent;
                }
        
                tbody tr:hover {
                    background: rgba(255, 255, 255, 0.3);
                    transition: 0.3s;
                }
            }
        }
    }

    @media screen and (max-width: 767px) and (min-width: 375px) {
        .tableContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 317px; /* Фиксированная минимальная ширина контейнера */
            margin: auto;

            .priceList {
                width: 317px;
                height: 480px;
                border-collapse: collapse;
                background: linear-gradient(to bottom, #A7A7A7, #273B46);
                color: white;
                font-family: Arial, sans-serif;
                border-radius: 8px;
                margin-top: 0;
                margin-bottom: 20px;
                table-layout: fixed; /* Фиксированная ширина колонок */
                overflow: hidden;
        
                .topLine {
                    height: 32px;
                }
        
                th, td {
                    padding: 0;
                    border: 1px solid rgba(255, 255, 255, 0.3);
                    text-align: center;
                    white-space: normal; /* Запрещает перенос строк */
                    background: transparent;
                    width: 40px; /* Убираем фон у ячеек */
                    text-align: center;
                }

                td {
                    text-align: center;
                }
        
                th {
                    font-size: 9px;
                }
        
                th:nth-child(1) {
                    width: 243px !important;
                    font-weight: 500;
                    text-transform: uppercase;
                    background: transparent;
                }
        
                tbody tr {
                    background: transparent;
                }
        
                tbody td {
                    font-size: 8px;
                    text-align: center;
                }
        
                tbody tr:nth-child(even) {
                    background: transparent;
                }
        
                tbody tr:hover {
                    background: rgba(255, 255, 255, 0.3);
                    transition: 0.3s;
                }
            }
        }
    }