.sectionWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    place-content: center;
    margin-bottom: 100px;
    width: 1380px;
    height: 830px;
    margin: auto;


    .textSection {
        width: 770px;
        display: flex;
        flex-direction: column;
        align-items: left;
        position: relative;
        height: 800px;
        
        .textHeading {
            font-family: 'Montserrat', sans-serif;
            font-weight: 800; 
            font-size: 41px;
            line-height: auto;
            letter-spacing: 0%;
            text-align: left;
            margin-top: 0;
            margin-bottom: 15px;
        }

        .description {
            font-family: 'Montserrat', sans-serif;
            font-weight: medium; 
            font-size: 31px;
            line-height: auto;
            letter-spacing: 0%;
            text-align: left;
            margin-top: 15px;
            margin-bottom: 40px;
        }

        .backgroundImg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .imgSection {
        width: 842px;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        

        .partImg {
            height: 100%;
            width: 50%;
            display: block;
            border-radius: 10px;
        }
    }
}

@media  screen and (max-width: 1439px) and (min-width: 768px) {
    .sectionWrapper {
        gap: 5px;
        margin-bottom: 30px;
        height: 570px;
        width: 700px;
    
    
        .textSection {
            width: 292px;
            height: 480px;
            
            .textHeading {
                font-size: 25px;
                margin-bottom: 5px;
            }
    
            .description { 
                font-size: 18px;
                margin-bottom: 15px;
            }
    
            .backgroundImg {
                width: 280px;
                height: 280px;
            }
        }
    
        .imgSection {
            width: 410px;
            height: 403px;            
    
            .partImg {
                height: 100%;
                width: 202px;
                display: block;
                border-radius: 10px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .sectionWrapper {
        gap: 5px;
        margin-bottom: 30px;
        height: 670px;
        flex-direction: column;
        width: 330px;
    
    
        .textSection {
            width: 295px;
            height: 400px;
            
            .textHeading {
                font-size: 14px;
                margin-bottom: 10px;
            }
    
            .description { 
                font-size: 14px;
                margin-bottom: 40px;
            }
    
            .backgroundImg {
                width: 280px;
                height: 280px;
            }
        }
    
        .imgSection {
            width: 330px;
            height: 320px;            
    
            .partImg {
                width: 150px;
                gap: 22px;
            }
        }
    }
}