.worksGrid {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(6, 250px);
    grid-auto-rows: auto;
    gap: 1rem;
    justify-items: center;
    align-items: start;
    margin: auto;
    margin-bottom: 150px;
  }
  
  .worksGrid img:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    width: 500px;
  }
  
  .worksGrid img:nth-child(2) {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    width: 100%;
  }
  
  .worksGrid img:nth-child(3) {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
    width: 100%;
  }
  
  .worksGrid img:nth-child(4) {
    grid-column: 5 / span 2;
    grid-row: 1 / span 2;
    width: 500px;
  }
  
  .worksGrid img:nth-child(5) {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
    width: 500px;
  }
  
  .worksGrid img:nth-child(6) {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    width: 100%;
  }
  
  .worksGrid img:nth-child(7) {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
    width: 100%;
  }
  
  .worksGrid img:nth-child(8) {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    width: 100%;
  }
  
  .worksGrid img:nth-child(9) {
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;
    width: 100%;
  }
  
  .worksGrid img:nth-child(10) {
    grid-column: 5 / span 2;
    grid-row: 3 / span 2;
    width: 100%;
  }

  .worksGrid img:nth-child(11) {
    grid-column: 3 / span 1;
    grid-row: 4 / span 2;
    width: 100%;
  }

  .worksGrid img:nth-child(12) {
    grid-column: 4 / span 1;
    grid-row: 4 / span 2;
    width: 100%;
  }

  .worksGrid img:nth-child(13) {
    grid-column: 1 / span 2;
    grid-row: 5 / span 2;
    width: 500px;
    height: 700px;
  }

  .worksGrid img:nth-child(14) {
    grid-column: 5 / span 2;
    grid-row: 5 / span 2;
    width: 500px;
    height: 700px;
  }

  .worksGrid img:nth-child(15) {
    grid-column: 3 / span 1;
    grid-row: 5 / span 2;
    width: 100%;
  }

  .worksGrid img:nth-child(16) {
    grid-column: 4 / span 1;
    grid-row: 5 / span 2;
    width: 100%;
  }

  .worksGrid img:nth-child(17) {
    grid-column: 3 / span 1;
    grid-row: 6 / span 2;
    width: 100%;
  }

  .worksGrid img:nth-child(18) {
    grid-column: 4 / span 1;
    grid-row: 6 / span 2;
    width: 100%;
  }

  .worksGrid img:nth-child(19) {
    grid-column: 1 / span 2;
    grid-row: 7 / span 2;
    width: 500px;
    height: 700px;
  }

  .worksGrid img:nth-child(20) {
    grid-column: 5 / span 2;
    grid-row: 7 / span 2;
    width: 500px;
    height: 700px;
  }

  .worksGrid img:nth-child(21) {
    grid-column: 3 / span 1;
    grid-row: 7 / span 2;
    width: 100%;
  }

  .worksGrid img:nth-child(22) {
    grid-column: 4 / span 1;
    grid-row: 7 / span 2;
    width: 100%;
  }

  .worksGrid img:nth-child(23) {
    grid-column: 3 / span 1;
    grid-row: 8 / span 2;
    width: 100%;
  }

  .worksGrid img:nth-child(24) {
    grid-column: 4 / span 1;
    grid-row: 8 / span 2;
    width: 100%;
  }

  .worksGrid img:nth-child(25) {
    grid-column: 1 / span 2;
    grid-row: 9 / span 2;
    width: 500px;
    height: 700px;
  }

  .worksGrid img:nth-child(26) {
    grid-column: 5 / span 2;
    grid-row: 9 / span 2;
    width: 500px;
    height: 700px;
  }

  .worksGrid img:nth-child(27) {
    grid-column: 3 / span 1;
    grid-row: 9 / span 1;
    width: 100%;
  }

  .worksGrid img:nth-child(28) {
    grid-column: 4 / span 1;
    grid-row: 9 / span 1;
    width: 100%;
  }

  .worksGrid img:nth-child(29) {
    display: none;
  }



  .small {
    width: 100%;
    height: 275px;
    border-radius: 10px;
    object-fit: fill;
    border-radius: 10px;
  }

  .wide {
    width: 500px;
    height: 700px;
    object-fit: fill;
    border-radius: 10px;
  }
  

@media  screen and (max-width: 1439px) and (min-width: 768px) {
  .worksGrid {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    grid-auto-rows: auto;
    gap: 1rem;
    justify-items: center;
    align-items: start;
    margin: auto;
    margin-bottom: 150px;
  }

  .worksGrid img:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    width: 100%;
  }

  .worksGrid img:nth-child(4) {
    grid-column: 5 / span 2;
    grid-row: 1 / span 2;
    width: 100%;
  }

  .worksGrid img:nth-child(5) {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
    width: 100%;
  }

  .worksGrid img:nth-child(13) {
    grid-column: 1 / span 2;
    grid-row: 5 / span 2;
    width: 100%;
    height: 470px;
  }

  .worksGrid img:nth-child(14) {
    grid-column: 5 / span 2;
    grid-row: 5 / span 2;
    width: 100%;
    height: 470px;
  }

  .worksGrid img:nth-child(19) {
    grid-column: 1 / span 2;
    grid-row: 7 / span 2;
    width: 100%;
    height: 470px;
  }

  .worksGrid img:nth-child(20) {
    grid-column: 5 / span 2;
    grid-row: 7 / span 2;
    width: 100%;
    height: 470px;
  }

  .worksGrid img:nth-child(25) {
    grid-column: 1 / span 2;
    grid-row: 9 / span 2;
    width: 100%;
    height: 470px;
  }

  .worksGrid img:nth-child(26) {
    grid-column: 5 / span 2;
    grid-row: 9 / span 2;
    width: 100%;
    height: 470px;
  }

    .small {
        height: 170px;
    }

    .wide {
        width: 100%;
        height: 470px;
        object-fit: fill;
      }
}   


@media screen and (max-width: 767px) {
  .worksGrid {
      width: 95%; // Немного увеличим ширину на мобильных
      display: grid;
      /* Устанавливаем ровно 3 колонки одинаковой ширины */
      grid-template-columns: repeat(3, 1fr); 
      /* Ряды будут создаваться автоматически по 130px (как у ваших .small) */
      grid-auto-rows: 130px; 
      gap: 8px; // Небольшой зазор между фото
      margin: auto;
      margin-bottom: 40px;

      /* ГЛАВНОЕ: Сбрасываем все nth-child правила, которые были заданы выше */
      & img {
          grid-column: auto !important;
          grid-row: auto !important;
          width: 100% !important;
          height: 100% !important;
          display: block !important;
          object-fit: cover !important; // Чтобы фото не искажались при заполнении ячейки
      }
  }

  /* Сбрасываем специфические размеры классов, чтобы они не конфликтовали */
  .wide, .small {
      width: 100% !important;
      height: 100% !important;
  }
}