/* --- БАЗОВЫЕ СТИЛИ КОНТЕЙНЕРА --- */
.worksGrid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(6, 250px);
  grid-auto-rows: auto;
  gap: 1rem;
  justify-items: center;
  align-items: start;
  margin: auto;
  margin-bottom: 150px;
}

/* Скрываем удаленное фото глобально */
.worksGrid img:nth-child(54) { /* или то, которое вы хотели скрыть */
   display: none;
}

/* !!! ГЛАВНОЕ ИСПРАВЛЕНИЕ !!! 
   Весь блок сложного позиционирования (Desktop + Tablet) 
   мы заворачиваем в min-width: 768px.
   Теперь мобилка (меньше 768px) вообще не увидит этих правил 
   и не будет создавать фантомные колонки.
*/
@media screen and (min-width: 768px) {
  
  /* Старые фото (1-31) */
  .worksGrid img:nth-child(1) { grid-column: 1 / span 2; grid-row: 1 / span 2; width: 500px; }
  .worksGrid img:nth-child(2) { grid-column: 3 / span 1; grid-row: 1 / span 1; width: 100%; }
  .worksGrid img:nth-child(3) { grid-column: 4 / span 1; grid-row: 1 / span 1; width: 100%; }
  .worksGrid img:nth-child(4) { grid-column: 5 / span 2; grid-row: 1 / span 2; width: 500px; }
  .worksGrid img:nth-child(5) { grid-column: 1 / span 2; grid-row: 3 / span 2; width: 500px; }
  .worksGrid img:nth-child(6) { grid-column: 3 / span 1; grid-row: 2 / span 1; width: 100%; }
  .worksGrid img:nth-child(7) { grid-column: 4 / span 1; grid-row: 2 / span 1; width: 100%; }
  .worksGrid img:nth-child(8) { grid-column: 3 / span 1; grid-row: 3 / span 1; width: 100%; }
  .worksGrid img:nth-child(9) { grid-column: 4 / span 1; grid-row: 3 / span 1; width: 100%; }
  .worksGrid img:nth-child(10) { grid-column: 5 / span 2; grid-row: 3 / span 2; width: 100%; }
  .worksGrid img:nth-child(11) { grid-column: 3 / span 1; grid-row: 4 / span 2; width: 100%; }
  .worksGrid img:nth-child(12) { grid-column: 4 / span 1; grid-row: 4 / span 2; width: 100%; }
  
  .worksGrid img:nth-child(13) { grid-column: 1 / span 2; grid-row: 5 / span 2; width: 500px; height: 700px; }
  .worksGrid img:nth-child(14) { grid-column: 5 / span 2; grid-row: 5 / span 2; width: 500px; height: 700px; }
  .worksGrid img:nth-child(15) { grid-column: 3 / span 1; grid-row: 5 / span 2; width: 100%; }
  .worksGrid img:nth-child(16) { grid-column: 4 / span 1; grid-row: 5 / span 2; width: 100%; }
  .worksGrid img:nth-child(17) { grid-column: 3 / span 1; grid-row: 6 / span 2; width: 100%; }
  .worksGrid img:nth-child(18) { grid-column: 4 / span 1; grid-row: 6 / span 2; width: 100%; }
  .worksGrid img:nth-child(19) { grid-column: 1 / span 2; grid-row: 7 / span 2; width: 500px; height: 700px; }
  .worksGrid img:nth-child(20) { grid-column: 5 / span 2; grid-row: 7 / span 2; width: 500px; height: 700px; }
  .worksGrid img:nth-child(21) { grid-column: 3 / span 1; grid-row: 7 / span 2; width: 100%; }
  .worksGrid img:nth-child(22) { grid-column: 4 / span 1; grid-row: 7 / span 2; width: 100%; }
  .worksGrid img:nth-child(23) { grid-column: 3 / span 1; grid-row: 8 / span 2; width: 100%; }
  .worksGrid img:nth-child(24) { grid-column: 4 / span 1; grid-row: 8 / span 2; width: 100%; }
  .worksGrid img:nth-child(25) { grid-column: 1 / span 2; grid-row: 9 / span 2; width: 500px; height: 700px; }
  .worksGrid img:nth-child(26) { grid-column: 5 / span 2; grid-row: 9 / span 2; width: 500px; height: 700px; }
  .worksGrid img:nth-child(27) { grid-column: 3 / span 1; grid-row: 9 / span 1; width: 100%; }
  .worksGrid img:nth-child(28) { grid-column: 4 / span 1; grid-row: 9 / span 1; width: 100%; }
  .worksGrid img:nth-child(29) { display: none; }

  /* НОВЫЕ ГРУППЫ (32+) */
  .worksGrid img:nth-child(32) { grid-column: 1 / span 2; grid-row: 11 / span 2; width: 500px; height: 700px; }
  .worksGrid img:nth-child(33) { grid-column: 3 / span 1; grid-row: 11 / span 1; width: 100%; }
  .worksGrid img:nth-child(34) { grid-column: 4 / span 1; grid-row: 11 / span 1; width: 100%; }
  .worksGrid img:nth-child(35) { grid-column: 5 / span 2; grid-row: 11 / span 2; width: 500px; height: 700px; }
  .worksGrid img:nth-child(36) { grid-column: 3 / span 1; grid-row: 12 / span 1; width: 100%; }
  .worksGrid img:nth-child(37) { grid-column: 4 / span 1; grid-row: 12 / span 1; width: 100%; }

  .worksGrid img:nth-child(38) { grid-column: 1 / span 2; grid-row: 13 / span 2; width: 500px; height: 700px; }
  .worksGrid img:nth-child(39) { grid-column: 3 / span 1; grid-row: 13 / span 1; width: 100%; }
  .worksGrid img:nth-child(40) { grid-column: 4 / span 1; grid-row: 13 / span 1; width: 100%; }
  .worksGrid img:nth-child(41) { grid-column: 5 / span 2; grid-row: 13 / span 2; width: 500px; height: 700px; }
  .worksGrid img:nth-child(42) { grid-column: 3 / span 1; grid-row: 14 / span 1; width: 100%; }
  .worksGrid img:nth-child(43) { grid-column: 4 / span 1; grid-row: 14 / span 1; width: 100%; }

  .worksGrid img:nth-child(44) { grid-column: 1 / span 2; grid-row: 15 / span 2; width: 500px; height: 700px; }
  .worksGrid img:nth-child(45) { grid-column: 3 / span 1; grid-row: 15 / span 1; width: 100%; }
  .worksGrid img:nth-child(46) { grid-column: 4 / span 1; grid-row: 15 / span 1; width: 100%; }
  .worksGrid img:nth-child(47) { grid-column: 5 / span 2; grid-row: 15 / span 2; width: 500px; height: 700px; }
  .worksGrid img:nth-child(48) { grid-column: 3 / span 1; grid-row: 16 / span 1; width: 100%; }
  .worksGrid img:nth-child(49) { grid-column: 4 / span 1; grid-row: 16 / span 1; width: 100%; }

  .worksGrid img:nth-child(50) { grid-column: 1 / span 2; grid-row: 17 / span 2; width: 500px; height: 700px; }
  .worksGrid img:nth-child(51) { grid-column: 3 / span 1; grid-row: 17 / span 1; width: 100%; }
  .worksGrid img:nth-child(52) { grid-column: 4 / span 1; grid-row: 17 / span 1; width: 100%; }
  .worksGrid img:nth-child(53) { grid-column: 5 / span 2; grid-row: 17 / span 2; width: 500px; height: 700px; }
  
  /* Скрываем последнее фото на десктопе */
  .worksGrid img:nth-last-child(1) { display: none; }
}


/* --- КЛАССЫ РАЗМЕРОВ --- */
.small {
  width: 100%;
  height: 275px;
  border-radius: 10px;
  object-fit: fill;
}

.wide {
  width: 500px;
  height: 700px;
  object-fit: fill;
  border-radius: 10px;
}


/* --- TABLET (Адаптация для планшетов) --- */
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .worksGrid {
    grid-template-columns: repeat(6, minmax(100px, 1fr));
  }

  /* Адаптация размеров (переопределяем ширину и высоту) */
  .worksGrid img:nth-child(1), .worksGrid img:nth-child(4), 
  .worksGrid img:nth-child(5), .worksGrid img:nth-child(13),
  .worksGrid img:nth-child(14), .worksGrid img:nth-child(19),
  .worksGrid img:nth-child(20), .worksGrid img:nth-child(25),
  .worksGrid img:nth-child(26), 
  /* Добавляем новые широкие фото */
  .worksGrid img:nth-child(32), .worksGrid img:nth-child(35),
  .worksGrid img:nth-child(38), .worksGrid img:nth-child(41),
  .worksGrid img:nth-child(44), .worksGrid img:nth-child(47),
  .worksGrid img:nth-child(50), .worksGrid img:nth-child(53) {
    width: 100%;
    height: 470px; /* Высота для планшета */
  }

  .small { height: 170px; }
  .wide { width: 100%; height: 470px; }
}   


/* --- MOBILE (Телефоны) --- */
@media screen and (max-width: 767px) {
  .worksGrid {
      width: 95%;
      display: grid;
      grid-template-columns: repeat(3, 1fr); 
      grid-auto-rows: 130px; 
      gap: 8px;
      margin: auto;
      margin-bottom: 40px;

      /* Здесь больше не нужны !important для grid-column, 
         так как десктопные правила теперь внутри медиа-запроса (min-width: 768px)
         и сюда просто не попадают.
      */
      & img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
          border-radius: 5px; /* Чуть меньше скругление на мобиле */
      }
  }

  .wide, .small {
      width: 100%;
      height: 100%;
  }
}