.sectionWrapper {
    width: 1300px;
    margin: auto;
    margin-bottom: 120px;
}

.SectionHeading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; /* Light */
    font-size: 51px;
    line-height: auto;
    letter-spacing: 0%;
    text-align: center;
    
    color: #8B8B8B;
    opacity: 1;
    margin-top: 112px;
    
}

.Delivery {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; /* Light */
    font-size: 36px;
    line-height: auto;
    letter-spacing: 0%;
    text-align: center;
    
    color: #FD0000;
    opacity: 1;
    margin-top: 112px;
    margin: 0;
}

.bigImage {
    display: block;
    width: 1000px;
    height: 500px;
    object-fit: cover;
    margin: auto;
}



@media  screen and (max-width: 1439px) and (min-width: 768px) {
    .sectionWrapper {
        width: 696px;
        margin: auto;
        margin-bottom: 50px;
        margin-top: 80px;
        gap: 40px;
    }

    .SectionHeading {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900; /* Light */
        font-size: 31px;
        line-height: auto;
        letter-spacing: 0%;
        text-align: center;
        
        color: #8B8B8B;
        opacity: 1;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 767px) {
    .sectionWrapper {
        width: 345px;
        height: 350px;
        margin-bottom: 22px;
        margin-top: 0px;
        gap: 30px;
    }

    .SectionHeading {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900; /* Light */
        font-size: 16px;
        line-height: auto;
        letter-spacing: 0%;
        text-align: center;
        
        color: #8B8B8B;
        opacity: 1;
        margin-top: 36px;
        margin-bottom: 30px; 
    }
}