footer {
    width: 100%;
    height: 300px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .Heading {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300; /* Light */
        font-size: 28px;
        line-height: normal;
        letter-spacing: 0%;
        
        color: #000000;
        opacity: 1;
        margin: 0;
    }

    .redText {
        width: 247px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold; /* Light */
        font-size: 16px;
        line-height: normal;
        letter-spacing: 0%;
        
        color: #FF0000;
        opacity: 1;
        margin: 0;
    }


    .adressSection {
        width: 315px;
        height: 270px;
        display: flex;
        flex-direction: column-reverse;
        align-items: left;
        justify-content: space-evenly;

        .locationSection {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 4px;
            margin-left: 10px;

            .adress {
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 21px;
                line-height: auto;
                letter-spacing: 0%;
                text-align: left;
                
                color: #000000;
                opacity: 1;
                margin: 0;
                margin-left: 10px;
            }


            .pointer {
                display: block;
                width: 14px;
                height: 14px;
                margin-top: 5px;
            }
        }

        .phoneSection {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
            margin-left: 10px;

            .sectionLabel {
                font-family: 'Montserrat', sans-serif;
                font-weight: light;
                font-size: 18px;
                line-height: auto;
                letter-spacing: 0%;
                text-align: left;
                
                color: #000000;
                opacity: 1;
                margin: 0;
                margin-left: 20px;
            }

            .phoneWrapper {
                display: flex;
                flex-direction: row;
                align-items: end;
                gap: 5px;

                .phoneIcon {
                    display: block;
                    width: 16px;
                    height: 16px;
                }

                .number {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: lighter;
                    font-size: 15px;
                    line-height: auto;
                    letter-spacing: 0%;
                    text-align: left;
                    
                    color: #000000;
                    opacity: 1;
                    margin: 0;
                }
            }
        }
    }

    .socialMedia {
        width: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}


@media screen and (max-width: 767px) {
    footer {
        height: 70px;
    
        .Heading {
            font-size: 15px;
        }
    
        .redText {
            display: none;
        }
    
    
        .adressSection {
            display: none;
        }
    
        .socialMedia {
            width: 120px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;
        }
    }
}