.dropZone {
    width: 200px;
    height: 200px;
    border: 2px dashed #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
  }
  
  .dropZone.dragging {
    background-color: #e0f7ff;
    font-family: 'Montserrat', sans-serif;
  }
  
  .hiddenInput {
    display: none;
  }
  
  .uploadButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
  }
  
  .preview {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
  }
  

  @media  screen and (max-width: 1439px) and (min-width: 768px) {    
    .dropZone {
      width: 219px;
      height: 195px;
      margin-top: 10px;
    }
}

@media screen and (max-width: 767px) and (min-width: 340px) {
  .dropZone {
    width: 177px;
    height: 158px;
    margin-top: 10px;
  }
}