.logo {
    display: block;
    height: 70px;
    width: 70px;
}

@media  screen and (max-width: 1439px) and (min-width: 768px) {
    .logo {
        height: 50px;
        width: 53px;
    }
}

@media screen and (max-width: 767px) and (min-width: 340px) {
    .logo {
        height: 35px;
        width: 35px;
    }
}