.cardWrapper {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    .cardLink {
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        padding-left: 15px;
    }

    .cardText {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300; 
        font-size: 28px;
        color: #EAE7DE;
        margin-bottom: 20px;
        margin-left: 10px;
        z-index: 2;
    }

    .vector {
        width: 38px;
        height: 38px;
        position: absolute;
        bottom: 15px;
        right: 13px;
        z-index: 2;
    }

    .backgroundCard {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        // Сохраняет пропорции фото, заполняя всю площадь
        object-fit: cover; 
        z-index: 1;
    }
}