.submit {
    width: 319px;
    height: 97px;
    border-radius: 14px;
    background-color: #D9D9D9;
    font-size: 14px;
    color: black;
    border: none;
    margin-top: 31px;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    line-height: 16.41px;
    text-align: center;
    color: black;
    justify-items: center;
    margin-top: 30px;
    margin: 30px auto;
}

@media  screen and (max-width: 1439px) and (min-width: 768px) {    
    .submit {
        width: 319px;
        height: 97px;
        margin-top: 15px;
    }
}

@media screen and (max-width: 767px) and (min-width: 340px) {
    .submit {
        width: 200px;
        height: 54px;
        margin-top: 15px;
    }
}