.consultationForm {
    display: flex;
    flex-direction: column;
    width: 415px;
    height: 100%;
    text-align: center;

    .fromLabel {
        font-family: 'Montserrat', sans-serif;;
        font-size: 24px;
        font-weight: bold;
        line-height: auto;
        text-align: center;
        color: black;
        margin-top: 0;
        margin-bottom: 7px;
    }
}

@media screen and (max-width: 767px) {
    .consultationForm {
        display: flex;
        flex-direction: column;
        width: 415px;
        height: 100%;
        text-align: center;
        align-items: center;
    
        .fromLabel {
            font-size: 20px;
            margin-bottom: 17px;
        }
    }
}