.mainButton {
    width: 559px;
    background-color: #273B46;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; 
    font-size: 36px;
    line-height: normal;
    opacity: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 100px;  
}

.noMargin {
    margin-top: 0 !important; 
}


@media (max-width: 1439px) and (min-width: 768px) {
    .mainButton {
        width: 535px;
        font-size: 30px;
        margin-top: 50px;
    }

    .noMargin {
        margin-top: 0 !important;
    }
}

@media (max-width: 767px) and (min-width: 340px) {
    .mainButton {
        width: 273px;
        font-size: 15px;
        height: 40px;
        padding: 0;
        margin-top: 30px;
    }

    .noMargin {
        margin-top: 0 !important;
    }
}
