.mapContainer {
    width: 560px;
    height: 456px;
}

@media screen and (max-width: 1439px) and (min-width: 768px) {
    .mapContainer {
        width: 560px;
        height: 456px;
    }
}

@media screen and (max-width: 767px) and (min-width: 340px) {
    .mapContainer {
        width: 300px;
        height: 270px;
    }
}