/* Контейнер с изображениями */
.bannerContainer {
    max-width: 100%;
    overflow: hidden;  /* Скрывает части, выходящие за пределы */
  }
  
  /* Стили для слайдера */
  .custom-gallery .image-gallery-image img {
    width: 100%;
    height: auto;  /* Сохраняет пропорции изображения */
    object-fit: cover;  /* Покрытие области слайдера изображением */
  }
  
  /* При необходимости установите максимальную высоту для слайдера */
  .custom-gallery .image-gallery {
    max-height: 500px; /* Примерная высота слайдера */
  }
  