.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 96px;

    .logoName {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        height: 36px;
        


        .Heading {
            font-family: 'Montserrat', sans-serif;
            font-weight: 300; /* Light */
            font-size: 28px;
            line-height: normal;
            letter-spacing: 0%;
            
            color: #000000;
            opacity: 1;
            margin: 0;
            cursor: pointer;
        }
    }

    .Numbers {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5px;

        .number {
            font-family: 'Montserrat', sans-serif;
            font-weight: 300; /* Light */
            font-size: 14px;
            line-height: normal;
            letter-spacing: 0%;
            
            color: #000000;
            opacity: 1;
            margin: 0;
        }
    }

    .contactInfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 20px;

        .linkBtn {
            display: block;
            cursor: pointer;
        }
    }

    .burgerMenu {
        display: none;
    }
}


@media  screen and (max-width: 1439px) and (min-width: 768px) {
    .Header {
        height: 67px;
    
        .logoName {
            gap: 12px;
            height: 50px;          
    
            .Heading {
                font-size: 22px;
            }
        }
    
        .Numbers {
    
            .number {
                font-size: 12px;
            }
        }
    
        .contactInfo {
            height: 20px;
    
            .linkBtn {
                display: block;
                cursor: pointer;
            }
        }

        .burgerMenu {
            display: block;
        }
    }
}

@media screen and (max-width: 767px) and (min-width: 375px) {
    .Header {
        height: 69px;
    
        .logoName {
            gap: 5px;
            height: 35px;          
    
            .Heading {
                font-size: 11px;
            }
        }
    
        .Numbers {
    
            .number {
                font-size: 9px;
            }
        }
    
        .contactInfo {
            height: 20px;
    
            .linkBtn {
                display: none;
                cursor: pointer;
            }
        }

        .burgerMenu {
            display: block;
            cursor: pointer;
        }
    }
}