.SectionHeading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; /* Light */
    font-size: 51px;
    line-height: auto;
    letter-spacing: 0%;
    text-align: center;
    
    color: #8B8B8B;
    opacity: 1;
    margin-top: 112px;
    
}

.Delivery {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; /* Light */
    font-size: 36px;
    line-height: auto;
    letter-spacing: 0%;
    text-align: center;
    
    color: #FD0000;
    opacity: 1;
    margin-top: 112px;
    margin: 0;
}

.bigImage {
    display: block;
    width: 1000px;
    height: 500px;
    object-fit: cover;
    margin: auto;
}

.sectionWrapper {
    width: 1300px;
    margin: auto;
}

@media  screen and (max-width: 1439px) and (min-width: 768px) {
    .SectionHeading {
        font-size: 31px;
        margin-top: 40px;   
    }

    .bigImage {
        width: 400px;
        height: 400px;
    }

    .Delivery {
        display: none;
    }
}

@media screen and (max-width: 767px) and (min-width: 375px) {
    .SectionHeading {
        font-size: 16px;
        margin-top: 40px;   
        font-weight: bold;
    }

    .bigImage {
        width: 200px;
        height: 200px;
    }

    .Delivery {
        display: none;
    }

    .tabel {
        width: 735px;
        margin: auto;
    }
}



@media screen and (max-width: 767px) and (min-width: 375px) {

    .SectionHeading {
        font-size: 31px;
        margin-top: 40px;   
        font-weight: bold;
    }

    .tabel {
        width: 317px;
    }
}