.Banner {
    width: 100%;
    height: 947px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 56px;

    .mainText {
        font-family: 'A Plakat Titul', sans-serif;
        font-weight: bolder;
        line-height: auto;
        letter-spacing: 0%;
        text-align: center;
        color: #FFFFFF;
        opacity: 1;
        margin: 0;


        &.largeText {
            font-size: 146px;
        }


        &.smallText {
            font-size: 106px;
            margin: 0;
        }
    }

    .secondaryText {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 40px;
        line-height: auto;
        letter-spacing: 0%;
        margin: 0;
        text-align: center;
        color: #FFFFFF;
        opacity: 1;
        margin-bottom: 20px;
    }

    .backgroundImg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &.homeBanner {
        height: 947px; 
    }

    
    &.smallBanner {
        height: 556px; 


    &.smallBanner {
        height: 556px;

    }

    .noMargin {
        margin-top: 0 !important; 
    }
}
}


@media  screen and (max-width: 1439px) and (min-width: 768px) {
    .Banner {
        height: 381px;
        margin-bottom: 10px;
    
        .mainText {
            font-family: 'Montserrat', sans-serif;
            font-weight: bolder;
            line-height: auto;
            letter-spacing: 0%;
            text-align: center;
            color: #FFFFFF;
            opacity: 1;
            margin: 0;
    

            &.largeText {
                font-size: 76px;
            }
    

            &.smallText {
                font-size: 20px;
            }
        }
    
        .secondaryText {
            font-size: 24px;
        }
        
        &.homeBanner {
            height: 381px; 
        }

        &.homeBanner {
            height: 381px; 
        }

        &.smallBanner {
            height: 221px; 

            .noMargin {
                margin-top: 0 !important; 
            }
        }
    }


}

@media screen and (max-width: 767px) {
    .Banner {
        height: 155px !important;
        margin-bottom: 20px;
    
        .mainText {
            font-size: 10px !important;
            &.largeText {
                font-size: 10px !important;
            }
            &.smallText {
                font-size: 10px !important;
            }
        }
    
        .secondaryText {
            font-size: 10px;
        }
        &.homeBanner {
            height: 155px; 
        }
    
        &.smallBanner {
            height: 109px; 
        }
    }

    .noMargin {
        margin-top: 0 !important; 
    }
}