.Banner {
    width: 100%;
    height: 947px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 56px;

    .mainText {
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        line-height: auto;
        letter-spacing: 0%;
        text-align: center;
        color: #FFFFFF;
        opacity: 1;
        margin: 0;

        // 🏠 Крупный заголовок на главной
        &.largeText {
            font-size: 146px;
        }

        // 📄 Меньший заголовок на остальных страницах
        &.smallText {
            font-size: 106px;
            margin: 0;
        }
    }

    .secondaryText {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 40px;
        line-height: auto;
        letter-spacing: 0%;
        margin: 0;
        text-align: center;
        color: #FFFFFF;
        opacity: 1;
        margin-bottom: 20px;
    }

    .backgroundImg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    // 🏠 Главная страница
    &.homeBanner {
        height: 947px; // Полный размер баннера
    }

    // 📄 Остальные страницы
    &.smallBanner {
        height: 556px; // Уменьшенный баннер
    }
}


@media  screen and (max-width: 1439px) and (min-width: 768px) {
    .Banner {
        height: 381px;
        margin-bottom: 10px;
    
        .mainText {
            font-family: 'Montserrat', sans-serif;
            font-weight: bolder;
            line-height: auto;
            letter-spacing: 0%;
            text-align: center;
            color: #FFFFFF;
            opacity: 1;
            margin: 0;
    
            // 🏠 Крупный заголовок на главной
            &.largeText {
                font-size: 76px;
            }
    
            // 📄 Меньший заголовок на остальных страницах
            &.smallText {
                font-size: 20px;
            }
        }
    
        .secondaryText {
            font-size: 24px;
        }
    
        // 🏠 Главная страница
        &.homeBanner {
            height: 381px; // Полный размер баннера
        }
    
        // 📄 Остальные страницы
        &.smallBanner {
            height: 221px; // Уменьшенный баннер
        }
    }
}

@media screen and (max-width: 767px) and (min-width: 375px) {
    .Banner {
        height: 155px;
        margin-bottom: 20px;
    
        .mainText {
            font-size: 26px;
    
            // 🏠 Крупный заголовок на главной
            &.largeText {
                font-size: 26px;
            }
    
            // 📄 Меньший заголовок на остальных страницах
            &.smallText {
                font-size: 10px;
            }
        }
    
        .secondaryText {
            font-size: 10px;
        }
    
        // 🏠 Главная страница
        &.homeBanner {
            height: 155px; // Полный размер баннера
        }
    
        // 📄 Остальные страницы
        &.smallBanner {
            height: 109px; // Уменьшенный баннер
        }
    }
}